body {
    padding: 4em;
}

main {
    margin:auto;
    with: 75%;
}

address {
    display: inline-block;
}


/* Tabs  */
.tabs {
    width:100%;
    display: inline-block;
}
/* Tab Links */
.tab-links::after {
    display: block;
    clear: both;
    content: '';
}
.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}
.tab-links a {
    
}
